---
---
<div class="nav-bar">
    <div class="title-link">
        <a href="/">Mario Gil Domingo</a>
    </div>
    <div class="nav-links">
        <a href="/works/">Trabajos</a>
        <!-- href="/posts/" -->
        <a href="/">CV</a>
        <a href="https://github.com/Mariogil2001" target="_blank">GitHub</a>
    </div>
</div>
